{
  "openapi": "3.0.3",
  "info": {
    "title": "Workflow Automation Platform API",
    "description": "Ultra Think Hard Plus - Enterprise-grade workflow automation platform with visual programming, AI integration, and advanced monitoring.",
    "version": "2.0.0",
    "contact": {
      "name": "API Support",
      "email": "api@workflow-automation.com",
      "url": "https://docs.workflow-automation.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.workflow-automation.com/v2",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.workflow-automation.com/v2",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:3001/v2",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and authorization"
    },
    {
      "name": "Workflows",
      "description": "Workflow management operations"
    },
    {
      "name": "Executions",
      "description": "Workflow execution and monitoring"
    },
    {
      "name": "Nodes",
      "description": "Node types and configurations"
    },
    {
      "name": "SLA",
      "description": "Service Level Agreement monitoring"
    },
    {
      "name": "Metrics",
      "description": "Performance and usage metrics"
    },
    {
      "name": "Marketplace",
      "description": "Plugin and template marketplace"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User login",
        "description": "Authenticate user and receive JWT token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User logout",
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "Logout successful"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows": {
      "get": {
        "tags": ["Workflows"],
        "summary": "List all workflows",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "draft"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Workflows"],
        "summary": "Create new workflow",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workflow created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}": {
      "get": {
        "tags": ["Workflows"],
        "summary": "Get workflow by ID",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      },
      "put": {
        "tags": ["Workflows"],
        "summary": "Update workflow",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Workflows"],
        "summary": "Delete workflow",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Workflow deleted"
          }
        }
      }
    },
    "/workflows/{id}/execute": {
      "post": {
        "tags": ["Executions"],
        "summary": "Execute workflow",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/executions": {
      "get": {
        "tags": ["Executions"],
        "summary": "List executions",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "workflowId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["running", "success", "failed", "cancelled"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of executions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionList"
                }
              }
            }
          }
        }
      }
    },
    "/executions/{id}": {
      "get": {
        "tags": ["Executions"],
        "summary": "Get execution details",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionDetail"
                }
              }
            }
          }
        }
      }
    },
    "/executions/{id}/stop": {
      "post": {
        "tags": ["Executions"],
        "summary": "Stop execution",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution stopped"
          }
        }
      }
    },
    "/nodes": {
      "get": {
        "tags": ["Nodes"],
        "summary": "List available node types",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["trigger", "action", "transform", "logic", "output"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of node types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeTypeList"
                }
              }
            }
          }
        }
      }
    },
    "/sla": {
      "get": {
        "tags": ["SLA"],
        "summary": "List SLA configurations",
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "List of SLAs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLAList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["SLA"],
        "summary": "Create SLA",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLACreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SLA created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SLA"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/workflows/{id}": {
      "get": {
        "tags": ["Metrics"],
        "summary": "Get workflow metrics",
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["hour", "day", "week", "month"],
              "default": "day"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowMetrics"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/global": {
      "get": {
        "tags": ["Metrics"],
        "summary": "Get global platform metrics",
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "Global metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalMetrics"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/plugins": {
      "get": {
        "tags": ["Marketplace"],
        "summary": "Browse marketplace plugins",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of plugins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginList"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "List webhooks",
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Webhooks"],
        "summary": "Create webhook",
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "System healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "draft"]
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Node"
            }
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Edge"
            }
          },
          "createdBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkflowCreate": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Node"
            }
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Edge"
            }
          }
        }
      },
      "WorkflowUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "draft"]
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Node"
            }
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Edge"
            }
          }
        }
      },
      "WorkflowList": {
        "type": "object",
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workflow"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "Node": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "position": {
            "type": "object",
            "properties": {
              "x": {
                "type": "number"
              },
              "y": {
                "type": "number"
              }
            }
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Edge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "ExecutionRequest": {
        "type": "object",
        "properties": {
          "inputData": {
            "type": "object",
            "additionalProperties": true
          },
          "mode": {
            "type": "string",
            "enum": ["test", "production"],
            "default": "production"
          }
        }
      },
      "ExecutionResponse": {
        "type": "object",
        "properties": {
          "executionId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["running", "queued"]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExecutionList": {
        "type": "object",
        "properties": {
          "executions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionSummary"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "ExecutionSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workflowId": {
            "type": "string"
          },
          "workflowName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["running", "success", "failed", "cancelled"]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer"
          }
        }
      },
      "ExecutionDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ExecutionSummary"
          },
          {
            "type": "object",
            "properties": {
              "inputData": {
                "type": "object"
              },
              "outputData": {
                "type": "object"
              },
              "nodeExecutions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NodeExecution"
                }
              },
              "error": {
                "type": "string"
              }
            }
          }
        ]
      },
      "NodeExecution": {
        "type": "object",
        "properties": {
          "nodeId": {
            "type": "string"
          },
          "nodeName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time"
          },
          "inputData": {
            "type": "object"
          },
          "outputData": {
            "type": "object"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "NodeTypeList": {
        "type": "object",
        "properties": {
          "nodeTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NodeType"
            }
          }
        }
      },
      "NodeType": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NodePort"
            }
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NodePort"
            }
          },
          "properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NodeProperty"
            }
          }
        }
      },
      "NodePort": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "NodeProperty": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "default": {},
          "required": {
            "type": "boolean"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SLA": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SLATarget"
            }
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "SLACreate": {
        "type": "object",
        "required": ["name", "targets"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SLATarget"
            }
          }
        }
      },
      "SLAList": {
        "type": "object",
        "properties": {
          "slas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SLA"
            }
          }
        }
      },
      "SLATarget": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string"
          },
          "operator": {
            "type": "string",
            "enum": ["<", "<=", ">", ">=", "=="]
          },
          "threshold": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "WorkflowMetrics": {
        "type": "object",
        "properties": {
          "workflowId": {
            "type": "string"
          },
          "period": {
            "type": "string"
          },
          "executions": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "successful": {
                "type": "integer"
              },
              "failed": {
                "type": "integer"
              }
            }
          },
          "performance": {
            "type": "object",
            "properties": {
              "avgExecutionTime": {
                "type": "number"
              },
              "minExecutionTime": {
                "type": "number"
              },
              "maxExecutionTime": {
                "type": "number"
              }
            }
          },
          "reliability": {
            "type": "object",
            "properties": {
              "successRate": {
                "type": "number"
              },
              "errorRate": {
                "type": "number"
              }
            }
          }
        }
      },
      "GlobalMetrics": {
        "type": "object",
        "properties": {
          "workflows": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "active": {
                "type": "integer"
              }
            }
          },
          "executions": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "today": {
                "type": "integer"
              },
              "successRate": {
                "type": "number"
              }
            }
          },
          "users": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "active": {
                "type": "integer"
              }
            }
          },
          "system": {
            "type": "object",
            "properties": {
              "uptime": {
                "type": "number"
              },
              "cpuUsage": {
                "type": "number"
              },
              "memoryUsage": {
                "type": "number"
              }
            }
          }
        }
      },
      "PluginList": {
        "type": "object",
        "properties": {
          "plugins": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plugin"
            }
          }
        }
      },
      "Plugin": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "downloads": {
            "type": "integer"
          },
          "rating": {
            "type": "number"
          }
        }
      },
      "WebhookList": {
        "type": "object",
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": ["GET", "POST", "PUT", "DELETE"]
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": ["name", "path"],
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": ["GET", "POST", "PUT", "DELETE"],
            "default": "POST"
          }
        }
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["healthy", "degraded", "unhealthy"]
          },
          "version": {
            "type": "string"
          },
          "uptime": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "services": {
            "type": "object",
            "properties": {
              "database": {
                "type": "string"
              },
              "redis": {
                "type": "string"
              },
              "storage": {
                "type": "string"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}